
body{
	margin: 0;
	padding: 0;
	font-family: 'Playfair Display', serif;
	color: #626262;
}
/*header start*/
header{
	padding: 20px 0;
}
.container{
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid red;*/
	overflow: hidden;

}
.logo{
	width: 12%;
	float: left;
	/*border: 1px solid red;*/
	margin-top: 8px;
}
.logo img{
	width: 100%;
}
.menu{
	width: 65%;
	float: right;
	/*border: 1px solid red;*/
}
.menu ul{
    float: right;
}
.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a{
	font-size: 16px;
    font-weight: 400;
	text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 0 50px;
    color: #626262;
    border-bottom: 1px solid transparent;
    transition: .3s;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover {
	border-bottom: 1px solid #000000;
}
/*header end*/
/*bannerstart*/
.banner{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*getway start*/
.getway{
	padding: 70px 0;
}
.container2{
	width: 80%;
	margin: 0 auto;
	/*border: 1px solid red;*/
}
.g_content{}
.light{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color:#b4ad9e;
	text-transform: uppercase; 
	margin:0;
}
.c_title{
	font-size: 38px;
	font-weight: 400;
	margin: 25px 0 30px;
}
.c_p{
	line-height:25px;
	word-spacing: 1px;
	margin-top: 0;
	margin-bottom: 45px;
}
/*getway end*/
/*blog start*/
.blog{
	padding: 70px 0;
}
.b_content{
	overflow: hidden;
}
.single{
	width: 44%;
	/*border: 1px solid black;*/
	float: left;
}
.single:nth-child(even){
	margin-left: 5%;
}
.single img{
    width: 100%;
    margin-bottom:25px; 
}
.md_remove{
	margin-bottom:0;
}
/*blog end*/
/*news start*/
.news{
	background-color: #f0f0f0;
	/*min-height: 400px;*/
	padding: 70px 0;
}
.signup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
}
.s_form input{
	font-family: 'Playfair Display', serif;
	font-size: 14px;
	color: #626262;
	width: 345px;
	height: 45px;
	border: none;
	border-bottom: 1px solid #000000;
	background-color: transparent;
	padding-left: 5px;
    padding-right: 45px;
}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	background: transparent;
	border: none;
	cursor: pointer;
	top: 17px;
	right:0;
}
.s_form button:focus{
	outline: 0;
}
.s_form button img{}
/*news end*/
/*button start*/
.load{
	padding: 70px 0;
	text-align: center;
}
.load button{
	width: 165px;
	height: 70px;
	background-color:white;
	border: 1px solid #626262;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	color: #626262;
	cursor: pointer;
	transition: .3s;
}
.load button:hover {
	background-color: #626262;
	color: white;
}
/*button end*/
.foot_c{
	float: left;
	overflow: hidden;
}
.foot_c ul{
	float: right;
}
.foot_c ul li{
	list-style: none;
	float: right;
}
.foot_c ul li a{
	color: #626262; 
	text-decoration:none; ;
	display:inline-block; ;
	padding: 0 10px ;
	border: 3px solid transparent;
	transition: .3s;
}
.menu2{
	width: 20%;
	float: right;
}
.menu2 ul li{
	list-style: none;
	float: left;
}
.menu2 ul li a{
	color: #626262; 
	text-decoration:none; ;
	display:inline-block; ;
	padding: 0 10px ;
	border: 3px solid transparent;
	transition: .3s;
}
.menu2 ul li img{
	color:#626262;
	display: inline-block;
	padding: 0 10px;
	cursor: pointer;
}
